# Byte-compiled / cache
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/

# Virtual environments
.venv/

# Environment variables
*.env

# Logs
*.log

# DVC
.dvc/tmp/
.dvc/cache/

# Data
data/
memory/

# Coverage artifacts
.coverage
coverage.xml
htmlcov/
