bandit==1.7.9
black==24.8.0
build==1.2.2.post1
codespell==2.3.0
dvc==3.49.0
mypy==1.11.2
nox==2024.4.15
pre-commit==3.8.0
psutil==5.9.8
pytest==8.3.2
ruff==0.6.9
semgrep==1.91.0
mkdocs==1.6.0
mkdocs-material[diagrams]==9.5.25
