# Runtime dependencies
httpx
numpy
pillow
psutil
pyperclip
pydantic
requests
rich
scikit-learn
sqlite-utils
tomli-w
urllib3<3

# Tooling and test dependencies
bandit
black
coverage
hypothesis
mypy
pytest
pytest-cov
ruff
semgrep
